# .dockerignore
frontend/node_modules
frontend/.git
**/__pycache__
**/*.pyc
.venv
.git
*.md
.github
gpu_training_results/outputs/models
!gpu_training_results/outputs/embeddings/node2vec_keys.npy
!gpu_training_results/outputs/embeddings/node2vec_vecs.npy
